footer.section
  #logo-text
    h4.title ECHO
    h4#blurb Technologies
  .column
    h5 Column
    p Antelope
    p Baboon
    p Cheetah
    p Deer
  .column
    h5 Column
    p Antelope
    p Baboon
    p Cheetah
    p Deer
  .column
    h5 Column
    p Antelope
    p Baboon
    p Cheetah
    p Deer
  .column
    h5 Follow Us
    #icons.mdi-set
      a(href='https://www.instagram.com/echo.technologies/', target='_blank')
        i.mdi.mdi-instagram
      a(href='https://www.linkedin.com/in/echo-technology-66011616b/', target='_blank')
        i.mdi.mdi-linkedin
      //
        <i class="mdi mdi-facebook-box"></i>
        <i class="mdi mdi-youtube"></i>
