header
  ul#nav
    a(href='/')
      #logo-text
        span.title ECHO
        span#blurb Technologies
    #links
      li
        a(href='/about.html')
          h6 About
      li
        a(href='/donate.html')
          h6 Donate
      li
        a(href='#')
          h6 Outreach
      li
        a(href='/interns.html')
          h6 Interns
    i#sidenav-trigger.mdi.mdi-menu
  ul#sidenav
    i#close.mdi.mdi-close
    #links
      li
        a(href='/')
          h6 Home
      li
        a(href='/about.html')
          h6 About
      li
        a(href='/donate.html')
          h6 Donate
      li
        a(href='#')
          h6 Outreach
      li
        a(href='/interns.html')
          h6 Interns
  #backdrop
  #loader
    div
    div
