script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
script(src="https://cdn.jsdelivr.net/npm/legit-ripple@1.1.0/dist/ripple.min.js" integrity="sha256-kpZ0Yzm1lhJVqvZj/SzmB8y/rTjGiPac2ufSxqIBfUk=" crossorigin="anonymous")
