script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
script(src="https://cdn.jsdelivr.net/npm/legit-ripple@1.1.0/dist/ripple.min.js" integrity="sha256-kpZ0Yzm1lhJVqvZj/SzmB8y/rTjGiPac2ufSxqIBfUk=" crossorigin="anonymous")
script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js" integrity="sha256-oSgtFCCmHWRPQ/JmR4OoZ3Xke1Pw4v50uh6pLcu+fIc=" crossorigin="anonymous")