doctype html
html
    include includes/head.pug

body
    include includes/header.pug
    main
        #about.section
            .center
                h2.title About Us
                p
                | Echo Technologies is a student-run organization led by senior students in the Engineering Design and Development (EDD) course at the California Academy of Mathematics and Science (CAMS).
                p
                | EDD is an engineering research course in which students work in teams of 30-40 individuals to research, design, construct and test a solution to an open-ended engineering problem. The team uses the product development life cycle and design process to reach a solution to the problem. The team also presents and defends their solution to a panel of outside reviewers at the conclusion of the course. The EDD course allows students to apply all the skills and knowledge learned in previous Project Lead the Way (PLTW) courses. The use of 3D design software helps students design solutions to the problem their team has chosen. This course also engages students in time management and teamwork skills, a valuable set for students in the future.
                img(src='/static/images/echo-group.jpeg')

    include includes/footer

    include includes/scripts
