doctype html
html
    include includes/head.pug

body
    include includes/header.pug
    main
        #intro.section
            h1.title ECHO TECHNOLOGIES
            h6 Ideas worth hearing
        #project.section
            .left
                h2.title Project Azorian
                p CAMS Advanced Research Projects Agency (CARPA) Initiative has tasked ECHO Technologies to design and build a UAV/UUV vehicle named Megalodon that can recover the items of interest from the K-129 crash site after pinpointing a signal from a UUV vehicle named Remora that located those items of interest and recovered the radioactive items.
                p This mission is an attempt to recover the leftover parts from a nuclear capable  K-129 crash that the CIA failed to completely recover the ocean floor. As a ship was raising the K-129 from the ocean floor, it broke apart and part of the submarine was lost.
                p The mission will begin with the Megalodon picking up and placing Remora into the water to locate the crash site. Once the crash site is located, Remora will recover the radioactive items after inspecting the crash site with a UV light and then rise to the surface to signal for the Megalodon. The Megalodon will then transition to underwater, and swim to the crash site to recover the remainder of the K-129. The Megalodon will deposit the parts it collects before coming back for Remora where it picks Remora up and travels back to land.
            img(src='images/azorian.jpg')
        #robots.section
            .center
                h2.title Megalodon and Remora
                p Project Azorian requires two vehicles working together to locate and recover remains of a K-129 submarine on the ocean floor. Echo Technologies is developing two separate underwater vehicles to accomplish this task. The first is named Remora which will be able to locate the crash site on the ocean floor signal for the second vehicle and collect the radioactive parts of the K-129. The second vehicle is named Megalodon which will carry the Remora near the crash site and drop it into the water. After receiving a beacon from the Remora, it will enter the water and collect the non-radioactive parts at the crash site. The Megalodon will then leave the water to pick up Remora and fly back to land to deposit the objects of interest.
        //-
            .right
                h2.title Remora
                p
                | Cake sweet tootsie roll pie jujubes. Lemon drops chocolate bar cotton candy jelly-o pie jelly beans topping wafer cheesecake. Chupa chups jelly-o sweet roll sweet. Cake danish cheesecake. Candy jelly-o icing cookie. Wafer muffin candy lemon drops
                | cupcake dessert. Lemon drops sugar plum bear claw. Croissant fruitcake lemon drops soufflé apple pie cupcake brownie candy canes soufflé.
                p
                | Toffee danish macaroon tart fruitcake. Cake topping apple pie croissant carrot cake jelly sweet roll jelly. Biscuit macaroon ice cream jelly danish lollipop apple pie icing. Chupa chups tart halvah chocolate cake lollipop chupa chups croissant jelly beans gummi bears. Bonbon sweet roll jelly beans cheesecake chupa chups dragée pudding.

    include includes/footer

    include includes/scripts
