doctype html
html
    include includes/head.pug

body
    include includes/header.pug
    main
        #intro.section
            h1.title Ideas Worth Sharing
            h6
                | Sesame snaps soufflé fruitcake jujubes dessert brownie sweet roll lollipop ice cream. Soufflé cheesecake tootsie roll cake. Cake bonbon sesame snaps jelly jelly-o lollipop chocolate tiramisu.
        #project.section
            .left
                h2.title Project Azorian
                p
                | Sesame snaps soufflé fruitcake jujubes dessert brownie sweet roll lollipop ice cream. Soufflé cheesecake tootsie roll cake. Cake bonbon sesame snaps jelly jelly-o lollipop chocolate tiramisu. Powder lemon drops marshmallow halvah chocolate cake caramels. Sweet gummies jelly beans bonbon lemon drops danish cookie. Gummies wafer lemon drops. Toffee candy canes chocolate bar cake.
                p
                | Cake sweet tootsie roll pie jujubes. Lemon drops chocolate bar cotton candy jelly-o pie jelly beans topping wafer cheesecake. Chupa chups jelly-o sweet roll sweet. Cake danish cheesecake. Candy jelly-o icing cookie. Wafer muffin candy lemon drops
                | cupcake dessert. Lemon drops sugar plum bear claw. Croissant fruitcake lemon drops soufflé apple pie cupcake brownie candy canes soufflé.
                p
                | Toffee danish macaroon tart fruitcake. Cake topping apple pie croissant carrot cake jelly sweet roll jelly. Biscuit macaroon ice cream jelly danish lollipop apple pie icing. Chupa chups tart halvah chocolate cake lollipop chupa chups croissant jelly
                | beans gummi bears. Bonbon sweet roll jelly beans cheesecake chupa chups dragée pudding.
            img(src='https://bento.cdn.pbs.org/hostedbento-prod/filer_public/Big%20Pacific/Photos/BigPacific_Promo_Thumb.jpg')
        #robots.section
            .left
                h2.title Megalodon
                p
                | Cake sweet tootsie roll pie jujubes. Lemon drops chocolate bar cotton candy jelly-o pie jelly beans topping wafer cheesecake. Chupa chups jelly-o sweet roll sweet. Cake danish cheesecake. Candy jelly-o icing cookie. Wafer muffin candy lemon drops cupcake dessert. Lemon drops sugar plum bear claw. Croissant fruitcake lemon drops soufflé apple pie cupcake brownie candy canes soufflé.
                p
                | Toffee danish macaroon tart fruitcake. Cake topping apple pie croissant carrot cake jelly sweet roll jelly. Biscuit macaroon ice cream jelly danish lollipop apple pie icing. Chupa chups tart halvah chocolate cake lollipop chupa chups croissant jelly
                | beans gummi bears. Bonbon sweet roll jelly beans cheesecake chupa chups dragée pudding.
            .right
                h2.title Remora
                p
                | Cake sweet tootsie roll pie jujubes. Lemon drops chocolate bar cotton candy jelly-o pie jelly beans topping wafer cheesecake. Chupa chups jelly-o sweet roll sweet. Cake danish cheesecake. Candy jelly-o icing cookie. Wafer muffin candy lemon drops
                | cupcake dessert. Lemon drops sugar plum bear claw. Croissant fruitcake lemon drops soufflé apple pie cupcake brownie candy canes soufflé.
                p
                | Toffee danish macaroon tart fruitcake. Cake topping apple pie croissant carrot cake jelly sweet roll jelly. Biscuit macaroon ice cream jelly danish lollipop apple pie icing. Chupa chups tart halvah chocolate cake lollipop chupa chups croissant jelly beans gummi bears. Bonbon sweet roll jelly beans cheesecake chupa chups dragée pudding.

        include includes/footer

    include includes/scripts