doctype html
html
    include includes/head.pug

body
    include includes/header.pug
    main
        #content
            #interns.section
                .center
                    h2.title Our Interns
                    img.main(src='images/internpic.jpg')
                    p Since 2015, the internship program has been a medium in which underclassmen can experience on being in EDD without being enrolled in the class. The interns have the opportunity to shadow and help the seniors. For example, the interns might help us wire the robot. But more importantly, they have their own part in the mission. Not only does this help the interns acquire soft skills and technical skills from the team, it also paves the way for their success as seniors. The whole point of the internship program is to, in a sense, train the underclassmen to be as good - or even better - than us.
                    p This year, interns play a key role in our mission. Without them, the Megalodon cannot complete its tasks. The company intern team, also known as Ripple Technologies, is responsible for the design and development of a Remotely Operated Vehicle code named “Remora”. Some of the constraints of the Remora are the following: it must be completely waterproof and lightweight, must be able to locate the wreckage site, must provide a beacon for the Megalodon, identify and retrieve the nuclear items.

    include includes/footer

    include includes/scripts
