doctype html
html
    include includes/head.pug

body
    include includes/header.pug
    main
        #outreach.section
            .left
                h2.title Outreach
                p ECHO’s outreach team educates the youth about Science,Technology, Engineering, Art, and Mathematics (STEAM) pathways through interactive activities. We give back to the community by helping students develop skills that will aid them in their future endeavours. To further engage children, we use a Finding Nemo theme connecting back to the activities.
                h2.title Events
                h3 Boys and Girls Club of Wilmington (2/14/18)
                p ECHO’s outreach team recently organized a Valentine’s day themed STEM fair with the Boys and Girls Club of LA Harbor, Wilmington! We set up a circuit with three science activities, one technology activity, one engineering activity, and one math activity. The children received “I Heart STEM” stamp cards, to complete with stamps from each activity, for the opportunity to make their own slime!
            .right
                img(src='images/outreach1.jpg')
                img(src='images/outreach2.jpg')

    include includes/footer

    include includes/scripts
